.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: "Roboto", sans-serif;
}

/* HEADER */
.header {
    background: rgb(1, 45, 99);
    
}
.header .container {
    display: flex;
    align-items: center;
}

.header_link {
    
}

.header_logo {
    height: 60px;  
    padding-right: 152px;
}

.header_nav {
}

.nav_list {
    display: flex;
    gap: 29px;
    padding-right: 73px;
}

.nav_list-item-link {
    color: rgb(199, 199, 199);
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0%;
}

.nav_list-item-link:hover,
.nav_list-item-link:focus {
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.nav_list_item {
}

.header_list {
    display: flex;
    gap: 15px;
}

.header_list_item:nth-child(1) {
    color: rgb(199, 199, 199);
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0%;
}

.header_list_item:nth-child(2) {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}

.header_list-item-link{

}

/* MAIN */
.main {
}

/* COLORRAWE */
.hero {
    display: flex;
    background-image: url('../images/bg/mainbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 91px;
    padding-bottom: 183px;
}

.hero_logo {
    width: 160px;
    height: 120px;
    
}

.hero_logo-text {
    color: rgb(255, 255, 255);
    font-family: 'PT Serif', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: -35px;
    
}

.hero_title {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', sans-serif;
    font-size: 144px;
    font-weight: 400;
    line-height: 192px;
    letter-spacing: 0%;
    text-align: left;
}

.hero_subtitle {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;
}

.hero_text {
    width: 508px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 12px;
}

.hero_btn {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    margin-top: 41px;
    border-radius: 10px;
    background: rgb(142, 50, 198);
    width: 254px;
    height: 67px;
}

/* INFO */
.info {
    display: flex;
    background-image: url("../images/bg/infobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    align-items: center;

}

.info_list {
    display: flex;  
    justify-content: center;
    border: 5px solid rgb(142, 50, 198);
}

.info_list-item:nth-child(1) {
    margin-right: 145px;
}
.info_list-item:nth-child(2) {
    margin-right: 145px;
}

.info_list-item-text {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}
.info_list-item-text:nth-child(1) {
    margin-top: 25px;
}
.info_list-item-text:nth-child(3) {
    margin-top: 25px;
}

.info_list-item-text:nth-child(2) {
    margin-top: 10px;
}

.info_list-item-img:nth-child(1) {
    margin-bottom: 25px;
}
.info_list-item-img:nth-child(3) {
    margin-bottom: 25px;
}
.info_list-item-img:nth-child(2) {
    margin-top: 25px;
}

/* REVIEWS */
.reviews {
    display: flex;
    background-image: url(../images/flowers.png), url("../images/bg/reviews.jpg");
    background-position: left bottom, center;
    background-repeat: no-repeat;
    background-size: auto, cover;
    height: 520px;

}

.reviews_title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: center;

    color: #FFFFFF;
}

.reviews_list {
    display: flex;
    gap: 93px;
}

.reviews_list-item:nth-child(1) {
    background-image: url(../images/reviews/blue.png);
    background-repeat:no-repeat;
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px rgb(123, 84, 179), 0px 30px 0px -13px rgb(83, 57, 120);
}

.reviews_list-item:nth-child(2) {
    background-image: url(../images/reviews/pink.png);
    background-repeat:no-repeat;
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
}

.reviews_list-item:nth-child(3) {
    background-image: url(../images/reviews/red.png);
    background-repeat:no-repeat;
    background-size:auto;
    border-radius: 15px;
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
}

.reviews_list-item {
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    text-align: left;

    color: #FFFFFF;

}

.reviews_item-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}
.reviews_item-data {
    color: #D8D8D8;
    font-size: 14px;
    font-weight: 400;
}
.reviews_item-name {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}
.reviews_item-data-join {
    color: #D8D8D8;
    font-size: 12px;
    font-weight: 400;
}

/* ORDER */
.order {
    display: flex;
    height: 509px;
    background-image: url('../images/bg/lastbg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

.order_title {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 33px;
    margin-top: 20px;
}

.order_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.order_form_label {

}

.order_form-control:hover,
.order_form-control:focus {
    width: 690px;
    height: 60px;
    left: 375px;
    right: 375px;
    top: 2192px;
    bottom: 623px;
}


.order_form-control {
    border-radius: 50px;
    background: rgb(255, 255, 255);

    color: rgb(149, 149, 149);
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;

    width: 580px;
    height: 50px;
    left: 430px;
    right: 430px;
    top: 2271px;
    bottom: 554px;
    
}

.order_btn {
    border-radius: 16px;
    background: rgb(142, 50, 198);
    width: 248px;
    height: 68px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
.footer {
    display: flex;
    background: rgb(2, 22, 53);
}

.footer_adress {
    padding-top: 45px;
}


.footer_list {
    display: flex;
    flex-direction: column;
}

.footer_list-item {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
}

.footer_adress_list {
    display: flex;
    flex-direction: column;
}

.footer_adress_list-item {
}

.footer_adress_list-item-link {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-decoration-line: underline;
}

.footer_text {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.footer_counrty {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 50px;
}

.footer_logo {
    width: 108px;
    height: 81px;
}

.footer_logo-text {
    color: rgb(255, 255, 255);
    font-family: 'PT Serif', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
}